#counter{
    margin: 10px;
    padding: 30px;
    height: 100px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 10px black;
    border-radius: 19px;
}
.container{
    height: 300px;
    /* width: 1000px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    margin-top: 10px; ;
}
button{
    border-radius: 4px;
    margin: 3px;
}